{% extends "@contact-rdv/events_layout.html.twig" %}
{% import "@templates/macros/datepicker_resources.html.twig" as datepickerRes %}
{% import "@templates/macros/datepicker_blocks.html.twig" as datepickerBlk %}
{% import "@contact-core/macros/form_type.html.twig" as fields %}

{% block shoulder %}
    Evénement dans le calendrier
{% endblock %}

{% block title %}
    <i class="fas mr-2 link--icon fa-clipboard-question"></i>
    Saisie d'un événement au calendrier
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ datepickerRes.datepickerStylesheets() }}
{% endblock %}

{% block main %}
    <div class="col-12 row m-0 p-0">
        <div class="col-8 row m-0 p-0"></div>
        <div class="col-4 row m-0 p-0">
            <h3 class="col-12 text-center">Nouvel événement</h3>
            {{ form_start(form, {'class': 'col-12 row'}) }}

                <div class="col-12 row m-0 p-0">
                    <div class="col-12 row m-0 p-0">
                        {{ fields.checkbox(form.allDay, "", {
                            'class': 'col-12 m-0 p-0', 'date_min': date_min,
                        }) }}
                    </div>
                    <div class="col-6 row m-0 p-0">
                        {{ datepickerBlk.datepickerField(form.startBG, "", {
                            'date_min': date_min,
                        }) }}
                    </div>
                    <div class="col-6 rox m-0 p-0">
                        {{ datepickerBlk.datepickerField(form.startED, "", {
                            'date_min': date_min,
                        }) }}
                    </div>
                </div>

                <div class="col-12 row m-0 px-0 py-2">
                    {{ fields.field(form.title, "Objet", {
                        'class': 'col-12 m-0 p-0', 'il_class': {'label': 'col-4', 'input': 'col-8'}
                    }) }}
                </div>

                <div class="col-12 row m-0 px-0 py-2">
                    {{ fields.textarea(form.description, "Description", {
                        'class': 'col-12'
                    }) }}
                </div>

            {{ form_end(form, {render_rest: false}) }}
            <div class="col-12 mt-2 text-right text-gray-600 px-0">
                * champs obligatoires
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ datepickerRes.datepickerJavaScripts() }}

    {{ datepickerBlk.datepickerJSinit({
        'format': 'dd/mm/yyyy',
        'autohide': true,
        'language': defaultLocale,
        'weekStart': 1,
        'calendarWeeks': true,
        'clearBtn': true,
        'daysOfWeekHighlighted': "1,2,3,4,5",
        'autohide': true,
        'orientation': 'bottom' 
    }) }}
{% endblock %}
