{% extends "@contact-rdv/events_layout.html.twig" %}
{% import '@contact-core/macros/form_type.html.twig' as fields %}
{% import '@contact-core/macros/form_classic.html.twig' as forms %}

{% block shoulder %}
	{{ 'Evènements dans le calendrier' }}
{% endblock shoulder %}

{% block title %}
	<i class="fas mr-2 link--icon fa-clipboard-question"></i>
	Saisie d'un événement au calendrier
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	<link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
	<link rel="stylesheet" href="{{ asset('contact-assets/css/datepickerVanilla/datepicker.css') }}">
	<link rel="stylesheet" href="{{ asset('contact-assets/css/datepickerVanilla/datepicker-bs5.css') }}">
{% endblock %}

{% block main %}
	<div class="col-12 m-0 p-0 row">
		<div class="col-8 row m-0 p-0">
			{# affichage du calendrier #}
			<div id="calendar"></div>
		</div>
		<div class="col-4 row m-0 p-0">
			{# formulaire de saisie d'événement #}
			{{ form_start(form, {'action': path('evt-type-gest'), 'method': 'POST', 'class': 'col-12 row'}) }}
				{{ form_row(form._token) }}

				<div class="col-12 row m-0 p-0">
					<div class="col-2 row m-0 p-0">
						{{ fields.checkbox(form.allDay, "", {
							'class': 'col-12 m-0 p-0', 'date_min': date_min,
						}) }}
					</div>

					<div class="col-5 row m-0 p-0">
						{{ fields.datepickerField(form.startBG, "", {
							'class': 'col-6 m-0 p-0', 'date_min': date_min,
						}) }}
						{{ fields.field(form.hourBG, "", {
							'class': 'col-6 m-0 p-0',
						}) }}
					</div>

					<div class="col-5 row m-0 p-0">
						{{ fields.datepickerField(form.startED, "", {
							'class': 'col-6 m-0 p-0', 'date_min': date_min,
						}) }}
						{{ fields.field(form.hourED, "", {
							'class': 'col-6 m-0 p-0',
						}) }}
					</div>
				</div>

				{{ fields.field(form.title, "", {
					'class': 'col-12 m-0 p-0', 'il_class': {'label': 'col-4', 'input': 'col-8'}
				}) }}

				{{ fields.textarea(form.description, "", {
					'class': 'col-12'
				}) }}

			{{ form_end(form, {render_rest: false}) }}
			<div class="col-12 mt-2 text-right text-gray-600 px-0 mx-3">
				* champs obligatoires
			</div>
		</div>
	</div>
{% endblock %} 

{% block javascripts %}
    {{ parent() }}

	<script src="{{ asset('contact-assets/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('contact-assets/js/datepickerVanilla/datepicker.js') }}"></script>
	<script src="{{ asset('contact-assets/js/datepickerVanilla/locales/fr.js') }}"></script>
    <script src="{{ asset('contact-assets/js/timepicker-ui/timepicker-ui.umd.js') }}"></script>
	<script src="{{ asset('contact-assets/js/fullcalendar/index.global.min.js') }}"></script>
	<script src="{{ asset('contact-assets/js/fullcalendar/index.locales-all.global.js') }}"></script>

	<script>
		const calElement = document.querySelector('#calendar');
		const calendar = new FullCalendar.Calendar(calElement, {
			initialView: 'dayGridMonth',
			themeSystem: 'bootstrap5',
			locale: 'fr',
			timeZone: 'local',
			eventTimeFormat: { // like '14:30:00'
				hour: '2-digit',
				minute: '2-digit',
				second: '2-digit',
				meridiem: false,
			},
			  headerToolbar: {
				left: 'prev,next today',
				center: 'title',
				right: 'dayGridMonth,dayGridWeek,dayGridDay' // user can switch between the two
			},
  		});
		calendar.render();
	</script>
{% endblock %} 
