{% extends "@contact-rdv/events_layout.html.twig" %}

{% block shoulder %}
	{{ 'Evènements dans le calendrier' }}
{% endblock shoulder %}

{% block title %}
	<i class="fas mr-2 link--icon fa-clipboard-question"></i>
	Prise de rendez-vous
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block main %}
    <div class="jumbotron text-center">
        <h1>Demande de rendez-vous pour	{{ customer.getFullname() }}</h1>
        <h3>Demande de contact du {{ contact.getCreatedAt()|date("d/m/Y") }}</h3>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">
                <div id='calendar-holder'></div>
            </div>
            <div class="col-4">
                <div id='listEvents'>
                    <h3 class="col-12">Liste des futurs évènements</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron text-center" style="margin-bottom:0">
        <p></p>
    </div>
{% endblock %} 

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        let calendarEl = document.getElementById('calendar-holder');
        const calendar = new FullCalendar.Calendar(calendarEl, {
            events: [{{ events.datas|raw }}],
            initialView: 'dayGridMonth',
            editable: true,
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            timeZone: "Europe/Paris",
            themeSystem: 'bootstrap5',
            locale: "{{ app.user.locale|default() }}",
            buttonText: {
                prev: '<<',
                next: '>>',
                today:'Aujourd\'hui',
                title:'Titre : ',
                dayGridMonth: 'Mois',
                timeGridWeek: 'Semaine',
                timeGridDay: 'Jour',
            },
        });
        calendar.render();
    </script>
{% endblock %}