{% extends "@contact-rdv/events_layout.html.twig" %}
{% import "@contact-core/macros/form_type.html.twig" as fields %}
{% import "@contact-core/macros/form_classic.html.twig" as forms %}

{% block shoulder %}
	{{ 'Evènements dans le calendrier' }}
{% endblock shoulder %}

{% block title %}
	<i class="fas mr-2 link--icon fa-clipboard-question"></i>
	Prise de rendez-vous
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    {% include 'includes/asset_datepicker_vanilla.html.twig' %}
{% endblock %}

{% block main %}
    <div class="jumbotron text-center">
        <h1>Demande de rendez-vous pour	{{ customer.getFullname() }}</h1>
        <h3>Demande de contact du {{ contact.getCreatedAt()|date("d/m/Y") }}</h3>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">
                <div id='calendar-holder'></div>
            </div>
            <div class="col-4">
                <div id='listEvents' class="row">
                    <h3 class="col-12">Rendez-vous</h3>
                        {{ form_start(form, {'class': 'col-12 mx-0 px-0 row'}) }}
                            {{ fields.datepickerField(form.time_at, "Date - heure du rendrez-vous",
                                {'il_class': {'label': ' col-6', 'input': ' col-6'}, 'class': 'col-12', 'date_min': date_min,
                                'disabled': disabled, 'placeholder': "Choississez la date et heure", 
                                'date_date': date_time is defined and date_time is not empty ? date_time|date("d/m/Y h:i:s") }
                            )}}
                            {{ fields.field(form.objet, "Objet du rendrez-vous",
                                {'il_class': { 'lable': 'col-6', 'textarea': 'col-6'}, 'class': 'col-12', 'row': 5, 'col': 72,
                                "placeholder"; "Informaions utiles à connaître", "required": false, "value": form.complements.vars.value}
                            )}}
                            {{ fields.textarea(form.complements, "Botes, informations utiles", 
                                {'tl_class': { 'lable': 'col-6', 'input': 'col-6'}, 'class': 'col-12'}
                            )}}
                            {{ fields.select(form.nature, "",
                                {'sl_class': { 'lable': 'col-6', 'select': 'col-6'}, 'class': 'col-12', 'multiple': false, 'disabled': true}
                            )}}
                            {{ field.hidden(form.customer_id) }}
                            {{ field.hidden(form.contact_id) }}
                            {{ forms.submitbtn('record', 'Enregitrer le rendez-vous',
                                {'class': 'offset-1 col-4'}
                            ) }}
                            {{ forms.cancelbtn('cancel', 'Tout annuler',
                                {'class': 'offset-1 col-4'}
                            ) }}
                        {{ form_end(form, {render_rest: false}) }}
                </div>
                <div id='listEvents' class="row">
                    <h3 class="col-12">Liste des futurs évènements</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron text-center" style="margin-bottom:0">
        <p></p>
    </div>
{% endblock %} 

{% block javascripts %}
    {{ parent() }}

    {{ generals.datepickersJS('dd/mm/yyyy', {'language': 'fr', 'weekStart': 1, 'calendarWeeks': true, 'clearBtn': true,
        'daysOfWeekHighlighted': "1,2,3,4,5", 'autohide': true, 'orientation': 'bottom'  }) }}

    <script type="text/javascript">
        let calendarEl = document.getElementById('calendar-holder');
        const calendar = new FullCalendar.Calendar(calendarEl, {
            events: [{{ events.datas|raw }}],
            initialView: 'dayGridMonth',
            editable: true,
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            timeZone: "Europe/Paris",
            themeSystem: 'bootstrap5',
            locale: "{{ app.user.locale|default() }}",
            buttonText: {
                prev: '<<',
                next: '>>',
                today:'Aujourd\'hui',
                title:'Titre : ',
                dayGridMonth: 'Mois',
                timeGridWeek: 'Semaine',
                timeGridDay: 'Jour',
            },
        });
        calendar.render();
    </script>
{% endblock %}