{# courriel envoyé au conatc pour proposition, acceptation ou refus/repport RDV #}
{% extends '@contact-core/layout.mail.twig' %}

{% block entete %}
	<h1 style="text-align: center">{{ config.get('general/sitename') }}</h1>
	<h3 style="text-align: center">{{ config.get('general/payoff') }}</h3>
	<img src="theme/ds-theme/img/logo.svg" alt="Logo">
{% endblock %}

{% block corps %}
	<p>
		Cher(e)
		{{ client.getFullName() }},
	</p>
	<div>
		Vous avez déposé le
		{{ demande.getCreatedAt()|date("d/m/Y")}}
		le demande suivante:
	</div>
	<p>{{ demande.getDemande() }}</p>
	<p></p>
	<p>
		Au regard des disponibilités, nous pouvoir vous consacrer 1 heure 
		le : <strong>{{ rdv.getStartAt()|date("d/m/Y") }}</strong> 
		à : <strong>{{ rdv.getStartAt()|date("H:i") }}</strong>.
	</p>
	<p></p>
	<p>
		Vous avez la possibilité d'accepter au de demander le report de ce rendez-vous téléphonique.<br>
		Chaque lien ouvrira votre naigateur internet pour enregitrer votre choix sur notre site.<br>
		Dans  le cas d'une demande de report du rendez-vous téléphonique, vous aurez accès à notre agenda 
		pour y choisir la date et l'heure qui vous convienne le mieux afin de nous entretenir.
	</p>
	<p>
		Pour cela pour accepoter cliquez sur ce lien : 
		<a href="{{ path('accept_rdv', {'customer': customer.id, 'eventRdv': eventRdv.id})}}">ACCEPTERLE RENDEZ-VOUS</a><br>
		Pour demander le report cliquez sur ce lien : 
		<a href="{{ path('report_rdv', {'customer': customer.id, 'eventRdv': eventRdv.id})}}">DEMANDER LE REPORT</a><br>
	</p>
{% endblock %}

{% block piedpage %}
<img src="theme/ds-theme/img/logo.svg" alt="Logo">
<p>
	{{ config.get('general/sitename') }}
	vous remercie de pour votre confiance, espérant avoir répondu au mieux
	        à votre demande. Toute l'équipe de
	{{ config.get('general/sitename') }}
	reste à votre disposition.
{% endblock %}