{% extends '@contact-core/layout_backend.html.twig' %}
{% import '@contact-core/macros/form_type.html.twig' as fields %}
{% import "@contact-rdv/macro/calEventType.html.twig" as calEvtType %}

{% block shoulder %}
    {{ 'Evènements dans le calendrier' }}
{% endblock shoulder %}

{% block title %}
    <i class="fas mr-2 link--icon fa-tools"></i>
    Gestion des types d'évènements
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
	<link rel="stylesheet" href="{{ asset('contact-assets/css/vanilla-picker.csp.css') }}"/>
{% endblock %}

{% block main %}
	{{ form_start(form, {'action': path('evt-type-gest'), 'method': 'POST'}) }}
	{{ form_row(form._token) }}

	{{ fields.field(form.description, "", {
			'il_class': {'label': 'col-4', 'input': 'col-8',
            'value': form.description.vars.value}, 'class': 'col-12 my-3',
		})
	}}

	<div class="col-12 row">
		{{ form_label(form.values) }}
		{{ form_errors(form.values) }}
		<ul class="values col-12 row" data-index="{{ form.values.children|length > 0 ? (form.values.children|last).vars.name + 1 : 0 }}"
        data-prototype='{{ calEvtType.prototypeValues(form.values.vars.prototype)|e('html_attr') }}'>
			{% for idx, valueField in form.values %}
				<li class="col-12 row my-2">
                    <div class="col-10 row">
                        {{ fields.field(valueField.vars.prototype.name, "", {
                            'class': 'col-12', 'il_class': {'label': 'col-4', 'input': 'col-8'}
                        }) }}
                        {{ fields.field(valueField.vars.prototype.description, "", {
                            'class': 'col-12', 'il_class': {'label': 'col-4', 'input': 'col-8'}
                        }) }}
                        {{ fields.field(valueField.vars.prototype.background_color, "", {
                            'class': 'col-4',
                        }) }}
                        {{ fields.field(valueField.vars.prototype.border_color, "", {
                            'class': 'col-4',
                        }) }}
                        {{ fields.field(valueField.vars.prototype.text_color, "", {
                            'class': 'col-4',
                        }) }}
                    </div>
				</li>
			{% endfor %}
		</ul>
		<button type="button" class="add_item_link btn btn-success" data-collection-holder-class="values">
			Ajouter une valeur
		</button>
	</div>

	{{ form_end(form, {render_rest: false}) }}
	<div class="col-12 mt-2 text-right text-gray-600 px-0 mx-3">
		* champs obligatoires
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

	<script src="{{ asset('contact-assets/js/vanilla-picker.csp.js') }}"></script>

    <script>
		function addTagFormDeleteLink(item, index) {
			const removeFormButton = document.createElement('button');
			removeFormButton.classList.add("btn");
			removeFormButton.classList.add("btn-warning");
			removeFormButton.classList.add("col-2");
			removeFormButton.setAttribute('title', 'Supprimer la valeur');
			const removeFormIcon = document.createElement("i");
			removeFormIcon.classList.add("fa");
			removeFormIcon.classList.add("fa-trash");
			removeFormButton.append(removeFormIcon);
			if (index < 1) {
				removeFormButton.disabled = true;
			}
			item.appendChild(removeFormButton);

			removeFormButton.addEventListener('click', (e) => {
				e.preventDefault();
				let item = e.currentTarget.parentElement;
                let list = item.parentElement;
				let index = parseInt(item.querySelector("input").dataset.ord);
				item.remove();

                let spans = list.querySelectorAll("span");
				spans.forEach(span => {
					let idx = parseInt(span.innerHTML);

					if (idx > index) {
						let idxStr = idx.toString();
						let nidxStr = (idx - 1).toString();
						let input = span.parentElement.querySelector("input");
						let iclone = input.cloneNode(1);

                        span.innerHTML = nidxStr + " : ";
						iclone.id = input.id.replace(idxStr, nidxStr);
						iclone.name = input.name.replace(idxStr, nidxStr);
						iclone.value = input.value;
						iclone.dataset.ord = nidxStr;
						input.remove();
						span.after(iclone);
					}
				});
			});
		}

		function addEmptyLi(bouton) {
			const collectionHolder = document.querySelector('.' + bouton.dataset.collectionHolderClass);
			const index = parseInt(collectionHolder.dataset.index);
			const item = document.createElement('li');
			item.classList.add("col-12");
			item.classList.add("row");
			item.classList.add("my-2");
			item.innerHTML = collectionHolder.dataset.prototype.replace(/__name__/g, index);
			collectionHolder.appendChild(item);

			collectionHolder.dataset.index ++;
			addTagFormDeleteLink(item, index);
		}

		document.addEventListener("DOMContentLoaded", function () {
            /**
			document.querySelectorAll('input[type:"color"]').forEach(element => {
				let picker = new Picker(element, {
					alpha: false,
					color: element.vars.value,
					onChange: function(color) {
						element.style.background = color.rgbaString;
					}
				});
			});
            **/

			document.querySelectorAll('.add_item_link').forEach(btn => {
				btn.addEventListener("click", function (e) {
					addEmptyLi(e.currentTarget);
				});
			});

			document.querySelectorAll('ul.values li').forEach((val) => {
				let input = val.querySelector("input");
				let ord = parseInt(input.dataset.ord);
				addTagFormDeleteLink(val, ord)
			});

			const bouton = document.querySelector(".add_item_link")
			const valuesNBR = document.querySelectorAll("ul.values li");
			if (valuesNBR.length < 1) {
				addEmptyLi(bouton);
			}
		});
    </script>
{% endblock %}
